/* Delete option on hover */
.delete{
    color: red;
    /* opacity:0; */
    display: none;
    transition:opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -webkit-transition: opacity 0.5s linear;

    height: inherit;
    max-height: 25px;
    width: inherit;
    max-width: 70px;
    font-size: 15px;
  }
  .Element:hover .delete {
   /* opacity: 1; */
   /* display: block; */
   display: inline-block;
   transition:opacity 2s linear;
   -moz-transition: opacity 2s linear;
   -webkit-transition: opacity 2s linear;
   z-index: 10;
  }
.Element:hover {
  border-style: solid;
}

#BuildFrame {
  transform: scale(0.85);

}


