<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>SalesAnt - Tags</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/line-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/material-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/custom-buttons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/dropdown-search-bs4.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="{% static 'assets/css/Modal-commerce-popup-button-1.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Modal-commerce-popup-button.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Navbar---Apple-1.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Navbar---Apple.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Toggle-Switch-1.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Toggle-Switch.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/x-dropdown.css' %}">
</head>

<body id="page-top">
    <nav class="navbar navbar-dark navbar-expand-md sticky-top bg-dark navbar--apple" style="filter: blur(0px);">
        <div class="container-fluid"><button data-toggle="collapse" class="navbar-toggler" data-target="#menu"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"><i class="la la-navicon"></i></span></button>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav flex-grow-1 justify-content-between">
                    <li class="nav-item d-lg-flex justify-content-lg-center align-items-lg-center d-none d-xs-block d-md-block"><a class="nav-link d-lg-flex justify-content-lg-center align-items-lg-center" href="index.html"><i class="material-icons apple-logo" style="font-size: 28px;">multiline_chart</i></a></li>
                    <li class="nav-item"><a class="nav-link" href="profile.html">Profile</a></li>
                    <li class="nav-item"><a class="nav-link" href="builder.html">Builder</a></li>
                    <li class="nav-item"><a class="nav-link" href="triggers.html">Triggers</a></li>
                    <li class="nav-item"><a class="nav-link" href="apiservice.html">API Services</a></li>
                    <li class="nav-item"><a class="nav-link" href="taggenerator.html">Tag Generator</a></li>
                    <li class="nav-item"><a class="nav-link" href="index.html#buyport">Buy</a></li>
                    <li class="nav-item d-none d-xs-block d-md-block"><a class="nav-link" href="login.html" style="color: #ff4f00;">&nbsp;Logout</a></li>
                    <li class="nav-item d-none d-xs-block d-md-block"><a class="nav-link" href="https://theshimar.me/" style="color: #ff4f00;"><i class="fa fa-code" style="color: #ff4f00;"></i>&nbsp;Developer</a></li>
                    <li class="nav-item d-none d-xs-block d-md-block"><a class="nav-link" style="color: #ff4f00;">Hi, User</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div style="min-height: 100%;margin-top: -1px;">
        <div class="container-fluid" style="padding: 8px 12px;">
            <h3 class="text-dark mb-0" style="padding: 0px;margin-left: 8px;margin-top: 2px;margin-bottom: 0px;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" class="bi bi-brightness-alt-high-fill" style="margin-right: 9px;">
                    <path fill-rule="evenodd" d="M4 11a4 4 0 1 1 8 0 .5.5 0 0 1-.5.5h-7A.5.5 0 0 1 4 11zm4-8a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 3zm8 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 11a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.414a.5.5 0 1 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zM4.464 7.464a.5.5 0 0 1-.707 0L2.343 6.05a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707z"></path>
                </svg>Tag Generator</h3>
            <div class="row">
                <div class="col" style="margin-top: 18px;">
                    <div class="shadow card"><a class="btn btn-link text-left card-header font-weight-bold" data-toggle="collapse" aria-expanded="true" aria-controls="collapse-4" href="#collapse-4" role="button">Generate Tags</a>
                        <div class="collapse show" id="collapse-4">
                            <div class="card-body">
                                <div class="row d-md-flex justify-content-md-center align-items-md-center">
                                    <div class="col-5 d-lg-flex justify-content-lg-center align-items-lg-center" style="width: 100%;">
                                        <form  id="TagGenerateForm" method="POST" action="/tags/generate">{% csrf_token %}
                                            <input type='text' id='TriggerNameField' name='TriggerNameField' style="display: none;" />
                                            <input type='text' id='ApiKeyField' name='ApiKeyField' style="display: none;" />
                                        </form>
                                        <div class="d-lg-flex align-items-lg-center dropdown" style="width: 316.578px;"><button class="btn btn-secondary d-lg-flex justify-content-lg-center align-items-lg-center dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-align: center;background: rgb(255,255,255);color: rgb(0,0,0);width: 332px;">Triggers</button>
                                            <div class="dropdown-menu"><input type="text" class="form-control dropdown-search-input" placeholder="Search..">
                                                {% for utrg in user_triggers %}
                                                <a class="dropdown-item" onclick="TriggerNameClk('{{ utrg.name }}')">{{ utrg.name }}</a>
                                                {% endfor %}    
                                                </div>
                                            </div>                                            
                                    </div>
                                    <div class="col-5 d-lg-flex justify-content-lg-center align-items-lg-center" style="width: 100%;">
                                        <div class="d-lg-flex align-items-lg-center dropdown" style="width: 316.578px;"><button class="btn btn-secondary d-lg-flex justify-content-lg-center align-items-lg-center dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-align: center;background: rgb(255,255,255);color: rgb(0,0,0);width: 332px;">API Key</button>
                                            <div class="dropdown-menu">
                                                <input type="text" class="form-control dropdown-search-input" placeholder="Search..">
                                                {% for key in apikey %}
                                                <a class="dropdown-item" onclick="ApiKeyClk('{{ key.key_name }}')">{{ key.key_name }}</a>
                                                {% endfor %}                                             
                                                <input type="text" class="form-control dropdown-search-input" placeholder="+ Add New" readonly>
                                            </div>        
                                        </div>
                                    </div>
                                    <div class="col-2"><button onclick="TagGenerate()" class="btn btn-primary" type="button"><i class="fa fa-codepen" style="font-size: 18px;margin-right: 9px;"></i>Generate</button></div>
                                </div>
                                <div class="row d-md-flex justify-content-md-center align-items-md-center">
                                    <div class="col-5 d-lg-flex justify-content-lg-center align-items-lg-center" style="width: 100%;">
                                              <h5 id="TriggerNamebtn" >Trigger</h5>                                  
                                    </div>
                                    <div class="col-5 d-lg-flex justify-content-lg-center align-items-lg-center" style="width: 100%;">
                                              <h5 id="ApiKeybtn">Api Key</h5>
                                    </div>
                                    <div class="col-2" style="padding-top: 1%;"><p>Please Click Generate</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="text-dark mb-0" style="padding: 0px;margin-left: 8px;margin-top: 37px;margin-bottom: 8px;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" class="bi bi-bricks" style="margin-right: 9px;">
                    <path fill-rule="evenodd" d="M0 .5A.5.5 0 0 1 .5 0h15a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5H14v2h1.5a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5H14v2h1.5a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-3a.5.5 0 0 1 .5-.5H2v-2H.5a.5.5 0 0 1-.5-.5v-3A.5.5 0 0 1 .5 6H2V4H.5a.5.5 0 0 1-.5-.5v-3zM3 4v2h4.5V4H3zm5.5 0v2H13V4H8.5zM3 10v2h4.5v-2H3zm5.5 0v2H13v-2H8.5zM1 1v2h3.5V1H1zm4.5 0v2H15V1H5.5zM1 7v2h3.5V7H1zm4.5 0v2h5V7h-5zm6 0v2H15V7h-3.5zM1 13v2h3.5v-2H1zm4.5 0v2h5v-2h-5zm6 0v2H15v-2h-3.5z"></path>
                </svg>Tags</h3>
            <div class="row" style="margin-top: 18px;height: 576px;">
                <div class="col-3" style="height: 576px;">
                    <div class="card mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0">Triggers</h6>
                        </div>
                        <div class="card-body">
                            <div class="col" style="border-style: none;">
                                {% for trig in triggers %}
                                <a href="/tags/{{ trig.trigger_type }}">
                                <div class="row hover_item_tgc" style="border-radius: 3px;border: 0px solid rgb(220,218,218);border-left-style: solid;">
                                    <div class="col-10"><label class="col-form-label">{{ trig.trigger_type }}</label></div>
                                    <div class="col-2 d-md-flex justify-content-md-center align-items-md-center"><i class="fa fa-chevron-right" style="color: rgb(0,0,0);font-size: 21px;"></i></div>
                                </div>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3" style="height: 576px;">
                    <div class="card mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0">Tags</h6>
                        </div>
                        <div class="card-body">
                            <div class="col" style="border-style: none;">
                                {% for sbt in slt_based_trg %}
                                <a href="{{ sbt.name }}">
                                <div class="row hover_item_tgc" style="border-radius: 3px;border: 0px solid rgb(220,218,218);border-left-style: solid;">
                                    <div class="col-10"><label class="col-form-label">{{ sbt.name }}</label></div>
                                    <div class="col-2 d-md-flex justify-content-md-center align-items-md-center"><i class="fa fa-chevron-right" style="color: rgb(0,0,0);font-size: 21px;"></i></div>
                                </div>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6" style="height: 576px;">
                    <div class="card mb-4">
                        <div class="card-header py-3">
                            <form  id="CodeDeleteForm" method="POST" action="/tags/codedelete">{% csrf_token %}
                                <input type='text' id='CodeDeleteValue' name='CodeDeleteValue' style="display: none;" />
                            </form>
                            <h6 class="m-0">Code 
                                <a onclick="DeleteCode('{{ code.trigger_name }}')" data-toggle="tooltip" data-bss-tooltip="" class="custom-btn light-btn" role="button" title="Delete"><i class="fa fa-trash"></i></a>
                            </h6>
                        </div>
                        <div class="card-body"><textarea style="height: 300px;width: 100%;padding: 6px;border-width: 0px;border-radius: 8px;background: rgb(252,252,252);color: rgb(0,0,0);" readonly="">{{ code.code }}</textarea>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content"></div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Brand 2019</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/chart.min.js' %}"></script>
    <script src="{% static 'assets/js/bs-init.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="{% static 'assets/js/dropdown-search-bs4.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="{% static 'assets/js/Modal-commerce-popup-button.js' %}"></script>
    <script src="{% static 'assets/js/Navbar---Apple.js' %}"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>
    <script src="{% static 'tags.js' %}"></script>
</body>

</html>